@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v10/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
    text-align: center;
    width: 100vw;
}
p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5vh;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    font-weight: 200;
}
.our-chapter {
    background-image: url('../images/building.jpg');
    background-size: cover;
    color: white;
}
.our-chapter p {
    margin-right: 15vw;
    margin-left: 15vw;
}
.our-chapter h2 {
    padding-top: 30vh;
}
.our-web-design {
    background-color: white;
    z-index: 11;
    top: 100vh;
    position: absolute;
}
.our-web-design h2 {
    padding-top: 30vh;
    overflow-y: hidden;
}
.our-web-design p {
    margin-right: 35vw;
    margin-left: 15vw;
}
svg {
    position: absolute;
    height: 30vh;
    margin-top: -22vh;
    margin-left: 10vw;
}
.bios {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 30vw;
}
section a {
    color: #FF6F00;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}
.our-web-design p {
    font-size: 1.5em;
    text-align: left;
    margin-left: 20vw;
}
.info {
    background-color: white;
    top: 180vh;
    position: absolute;
    height: 80vh;
}
.info h2 {
    padding-top: 25vh;
}
#whereyouat {
    position: absolute;
    top: 60px;
    width: 30px;
    background-color: white;
    height: 3px;
}
#whereyouat.history {
    transform: translate(170px, 0px);
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
#whereyouat.energy {
    transform: translate(390px, 0px);
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
#whereyouat.home {
    transform: translate(538px, 0px);
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
.footer {
    top: 300vh;
}
