@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Raleway Light';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v10/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: underline;
  color: white;
}
a:hover {
  text-decoration: none;
}
header {
  background-color: #009688;
  height: 10vh;
  position: fixed;
  z-index: 200;
  top: 0px;
  width: 100vw;
  font-family: 'Roboto';
  box-shadow: 3px 3px 9px rgba(12,12,12,0.4);
}
header ul {
  display: inline;
  left: 50vw;
  position: fixed;
  top: 4vh;
  list-style-type: none;
  -webkit-transition: .2s all;
          transition: .2s all;
  color: white;
  font-family: 'Roboto';
}
body {
  overflow-x: hidden;
}
header ul li {
  display: inline;
  padding-left: 3vw;
}
header h1 {
  font-size: 2.5em;
  padding: 0;
  color: white;
}
.types h2 {
  top: 15vh;
  position: relative;
  font-family: 'Roboto', 'Raleway', sans-serif;
}
.types p {
  top: 22vh;
  position: relative;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
p {
  top: 2vh;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.types ul {
  left: 2vw;
  top: 25vh;
  position: relative;
  font-family: 'Open Sans', 'Roboto', sans-serif;

}
section {
  height: 100vh;
  width: 100vw;
}
.types {
  background-color: #0D47A1;
  color: white;
  position: relative;
  z-index: 1;
}
.types:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  transform-origin: 100%;
  z-index: -1;
  -webkit-transform: skewY(-1.5deg);
      -ms-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
}
.wind {
  background-image: url('../images/windmill.jpg');
  background-size: 100vw 100vh;
  position: relative;
}

.solar {
  background-color: #2196F3;
  position: relative;
}
.hydro {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
  background-image: url('../images/dam.jpg');
  background-size: 100vw 100vh;
  top: -12vh;
  position: relative;
}
.solar:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  transform-origin: 100%;
  z-index: -1;
  -webkit-transform: skewY(-1.5deg);
      -ms-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
}
.solar:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  transform-origin: 100% 0;
  z-index: 1;
  -webkit-transform: skewY(1.5deg);
      -ms-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
}
.wind img {
  position: absolute;
  height: 8vh;
  top: 20vh;
  left: 45vw;
  z-index: 2;
  border-radius: 50%;
  padding: 20px 15px 20px 15px;
  background-color: #228B7E;
}
.wind-content {
  position: absolute;
  top: 70vh;
  width: 100vw;
  height: 82vh;
  z-index: 1;
  background-color: #00695C;
}
.content {
  background-color: #FAFAFA;
  opacity: 1;
  color: #000000;
  top: 10vh;
  position: relative;
  width: 32vw;
  font-family: 'Open Sans', sans-serif;
  height: 43vh;
  z-index: 20;
}
p {
  opacity: 0.54;
  padding: 1vh 1vh;
}
