@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v10/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: underline;
    color: white;
}
a:hover {
    text-decoration: none;
}
.timeline {
    width: 80vw;
    left: 10vw;
    background-color: #1E88E5;
    height: 0.5vh;
    position: fixed;
    top: 49.75vh;
    box-shadow: 0px 4px 4px rgba(38, 50, 56, 0.2);
}
.point {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: 2px solid #1E88E5;
    -webkit-transition: .5s;
    transition: .5s;
    top: 47.9vh;
    background-color: #FAFAFA;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(38, 50, 56, 0.2);
}
.historypoint {
    width: 0vw;
    height: 0vh;
    color: #1E88E5;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    visibility: hidden;
    box-shadow: 0px 4px 4px rgba(38, 50, 56, 0.2);
    border: 2px solid #1E88E5;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    animation: text .3s;
    overflow: hidden;
    padding: 5px;
    margin-left: 8vw;
}
.point:hover {
    background-color: #1E88E5;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
@keyframes text {
    0%, 99% {
        color: transparent;
    }
    to {
        color: #009688;
    }
}
.point:hover + .historypoint {
    animation: .5s scale;
    width: 200px;
    height: 100px;
    visibility: visible;
    opacity: 1;
}
@keyframes scale {
    0% {
        width: 0;
        height: 0;
        border-color: tranparent;
    }
    50% {
        height: 100px;
        width: 0px;
        margin-left: 8vw;
    }
    100% {
        width: 200px;
        margin-left: 8vw;
    }
}
body {
    background-color: #FAFAFA;
}
#whereyouat {
    position: absolute;
    top: 60px;
    width: 30px;
    background-color: white;
    height: 3px;
}
#dimmer {
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.dialog {
    height: 30vh;
    width: 40vw;
    top: 30vh;
    left: 30vw;
    background-color: #FAFAFA;
    z-index: 1738;
    position: fixed;
    box-shadow: 3px 3px 9px rgba(24, 24, 24, 0.3);
}
.dialog p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 4vh;
    line-height: 1.5;
    font-size: 1.5em;
    color: #212121;
    text-align: center;
    margin-left: 6vw;
    margin-right: 6vw;
}
button {
    width: 4vw;
    height: 4vh;
    margin-top: 10vh;
    margin-left: 30vw;
    background-color: transparent;
    border: none;
    color: #1E88E5;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-radius: 2px;
    padding: 5px 0 5px 0;
}
button:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
button:focus {
    outline: none;
}
#whereyouat.energy {
    transform: translate(220px, 0px) !important;
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
#whereyouat.about {
    transform: translate(-170px, 0px) !important;
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
#whereyouat.home {
    transform: translate(368px, 0px) !important;
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
.footer {
    top: 100vh;
}
