@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v10/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none;
    color: white;
    margin-right: 21px;
    padding: 5px;
    border-radius: 2px;
    transition: .2s all;
}
header a:hover {
    text-decoration: none;
}
header {
    background-color: #1E88E5;
    height: 75px;
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px 9px rgba(12, 12, 12, 0.4);
}
header ul {
    display: inline;
    left: 550px;
    position: fixed;
    top: 30px;
    list-style-type: none;
    transition: .2s all;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
header ul li {
    display: inline;
}
header h1 {
    font-size: 2em;
    padding: 17px 6px;
    color: white;
    font-weight: 200;
}
section {
    height: 100vh;
    width: 100vw;
    float: left;
}
.intro {
    position: relative;
    background-image: url('../images/road.jpg');
    background-size: 100vw 100vh;
    color: white;
    text-align: center;
}
.intro h2 {
    padding-top: 40vh;
    font-family: 'Raleway';
    font-size: 3em;
}
.intro p {
    font-family: 'Open Sans';
    font-size: 1.5em;
}
@media all and (max-width: 140px) {
    header ul li {
        margin-left: 2vw;
    }
    header ul {
        left: 60vw;
    }
    header {
        height: 12.5vh !important;
    }
}
body {
    overflow-x: hidden;
}
#whereyouat {
    position: absolute;
    top: 60px;
    width: 30px;
    background-color: white;
    height: 3px;
    z-index: -5;
}
#whereyouat.history {
    transform: translate(-368px, 0px);
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
#whereyouat.energy {
    transform: translate(-148px, 0px);
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
#whereyouat.about {
    transform: translate(-538px, 0px);
    -moz-transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
}
.footer {
    text-align: center;
    background: black;
    background-color: #141414;
    height: 15vh;
    width: 100%;
    top: 100vh;
    position: absolute;
    color: rgb(170, 170, 170);
    font-family: 'Open Sans';
}
.footer img {
    height: 10vh;
    width: 10vh;
    border: 1px solid #212121;
    border-radius: 5vh;
}
.footer h3 {
    font-weight: lighter;
    font-size: 1.3em;
}
.top-shadow {
    position: absolute;
    background-color: #141414;
    height: 0.5vh;
    width: 100vw;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    bottom: 14vh;
    z-index: 50000;
}
