@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/Roboto/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
* {
  margin: 0;
  padding: 0;
}
body {
    min-height: 10000px;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.37), rgba(38, 12, 12, 0));
  height: 10vh;
  position: fixed;
  z-index: 200;
  top: 0px;
  width: 100vw;
}
header ul {
  display: inline;
  font-family: 'Raleway', sans-serif;
  color: white;
  left: 50vw;
  position: fixed;
  top: 3vh;
  list-style-type: none;
}
header ul li {
  display: inline;
  padding-left: 2vw;
}
header h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
}
section {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.section1 {
  background-image: url(../images/road.jpg);
  background-size: 100vw 100vh;
}
.section2 {

}
