@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v10/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none;
    color: white;
    margin-right: 1.5vw;
    padding: 5px;
    border-radius: 2px;
    transition: .2s all;
}
header a:hover {
    text-decoration: none;
}
header {
    background-color: #1E88E5;
    height: 10vh;
    position: fixed;
    z-index: 200;
    top: 0px;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px 9px rgba(12, 12, 12, 0.4);
}
header ul {
    display: inline;
    left: 45vw;
    position: fixed;
    top: 4vh;
    list-style-type: none;
    transition: .2s all;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
header ul li {
    display: inline;
}
header h1 {
    font-size: 2em;
    padding: 2vh 1vw;
    color: white;
    font-weight: 200;
}
section {
    height: 100vh;
    width: 100vw;
}
.intro {
    position: relative;
    background-image: url('../images/road.jpg');
    background-size: 100vw 100vh;
    color: white;
    text-align: center;
}
.intro h2 {
    padding-top: 40vh;
    font-family: 'Raleway';
    font-size: 3em;
}
.intro p {
    font-family: 'Open Sans';
    font-size: 1.5em;
}
@media all and (max-width: 150px) {
    header ul li {
        margin-left: 2vw;
    }
    header ul {
        left: 60vw;
    }
}
body {
    overflow-x: hidden;
}
#whereyouat {
    position: absolute;
    top: 8vh;
    width: 2vw;
    background-color: #FF6F00;
    height: .5vh;
    left: 46vw;
}
