@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
header {
    height: 85px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -100;
    background-size: cover;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 89px;
    color: #303030;
    font-family: 'Raleway', 'Open Sans',  sans-serif;
    padding-left: 0.5vw;
}
* {
    margin: 0;
    padding: 0;
}

.nav-button {
    width: 60px;
    height: 100vh;
    position: fixed;
    right: 0px;
    background-color: #E0E0E0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.nav-button span {
    display: block;
    position: absolute;
    height: 6px;
    width: 80%;
    background: #303030;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.nav-button span:nth-child(1) {
    top: 0px;
}
.nav-button span:nth-child(2),
.nav-button span:nth-child(3) {
    top: 18px;
}
.nav-button span:nth-child(4) {
    top: 36px;
}
.nav-button.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.nav-button.open {
    transform: translate(-20vw,0);
    -webkit-transform: translate(-20vw,0);
    -o-transform: translate(-20vw,0);
    -moz-transform: translate(-20vw,0);
}
.nav-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-button.open span:nth-child(4) {
    top: 18p;
    width: 0%;
    left: 50%;
}
.menu {
    position: fixed;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    right: -20vw;
    width: 20vw;
    background-color: #E0E0E0;
    height: 100vh;
}
.menu.open {
    transform: translate(-20vw,0);
    -webkit-transform: translate(-20vw,0);
    -o-transform: translate(-20vw,0);
    -moz-transform: translate(-20vw,0);
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    box-shadow: 5px 5px 7px rgba(20,20,20,0.6);
}
li {
    color: #303030;
    list-style: none;
    transition: .2s all;
    height: 10vh;
    vertical-align: middle;
}
li:hover {
  background-color: #9E9E9E;
}
a {
    text-decoration: none;
}
li:not(:first-child) {
    border-top: 0;
}
h1 {
    font-size: 89px;
    color: #303030;
    font-family: 'Raleway', 'Open Sans',  sans-serif;
    padding-left: 0.5vw;
    font-weight: 300;
}
header {
    height: 85px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}/*
.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -100;
    background-color: white;
}*/
section {
    width: 80vw;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 7.5vh;
    padding-left: 4vw;
}
#outlineimg {
  border-radius: 100%;
  height: 40vh;
  width: 20vw;
}
#placeholder {
  border:
  height: 40vh;
  width: 20vw;
  border-radius: 100%;
}
#placeholder {
  float: left;
  mask-image: (50%);
  height: 32vh;
  width: 16vw;
  opacity: 0.6;
  margin: 50px;
  border: 2px solid gray;
  transition: border 0.2s ease;
  position: absolute;
  left: 19vw;
  bottom: 34vh;
}
#placeholder:hover {
  opacity: 1.0;
  border: 5px solid #4C3B39;
}
